.ThemeFancySubMenu {
	background: transparent;
	border: 1px solid #999999;
}
.ThemeFancySubMenuTable {
	width: 200px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeFancySubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuItemLeft, .ThemeFancyMenuItemActive .ThemeFancyMenuItemLeft {
	background-image: url(ThemeFancy10.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4D2;
	border-left: 1px solid #B9D4D2;
	border-top: 1px solid #B9D4D2;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuItemText, .ThemeFancyMenuItemActive .ThemeFancyMenuItemText, .ThemeFancyMenuItemHover .ThemeFancyMenuItemText a, .ThemeFancyMenuItemActive .ThemeFancyMenuItemText a {
	background-image: url(ThemeFancy10.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	text-indent: 10px;
	text-decoration: none;
	color: #555555;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4D2;
	border-top: 1px solid #B9D4D2;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuItemRight, .ThemeFancyMenuItemActive .ThemeFancyMenuItemRight {
	background-image: url(ThemeFancy10.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4D2;
	border-right: 1px solid #B9D4D2;
	border-top: 1px solid #B9D4D2;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuFolderLeft, .ThemeFancyMenuItemActive .ThemeFancyMenuFolderLeft {
	background-image: url(ThemeFancy8.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4EA;
	border-left: 1px solid #B9D4EA;
	border-top: 1px solid #B9D4EA;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuFolderText, .ThemeFancyMenuItemActive .ThemeFancyMenuFolderText, .ThemeFancyMenuItemHover .ThemeFancyMenuFolderText a, .ThemeFancyMenuItemActive .ThemeFancyMenuFolderText a {
	background-image: url(ThemeFancy10.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	text-indent: 10px;
	text-decoration: none;
	color: #555555;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4EA;
	border-top: 1px solid #B9D4EA;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMenuItemHover .ThemeFancyMenuFolderRight, .ThemeFancyMenuItemActive .ThemeFancyMenuFolderRight {
	background-image: url(ThemeFancy9.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B9D4EA;
	border-right: 1px solid #B9D4EA;
	border-top: 1px solid #B9D4EA;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItem .ThemeFancyMenuItemLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItem .ThemeFancyMenuItemText, .ThemeFancyMenuItem .ThemeFancyMenuItemText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMenuItem .ThemeFancyMenuItemRight {
	background-color: #FFFFFF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItem .ThemeFancyMenuFolderLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenuItem .ThemeFancyMenuFolderText, .ThemeFancyMenuItem .ThemeFancyMenuFolderText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMenuItem .ThemeFancyMenuFolderRight {
	background-image: url(ThemeFancy7.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMenu {
	width: 47px;
	padding: 0;
	background-color: #000000;
}
.ThemeFancyMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeFancyMenu tr {
	padding: 0px;
	margin: 0px;
	width: 47px;
}
.ThemeFancyMainItemHover .ThemeFancyMainItemLeft, .ThemeFancyMainItemActive .ThemeFancyMainItemLeft {
	background-image: url(ThemeFancy5.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-left: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItemHover .ThemeFancyMainItemText, .ThemeFancyMainItemActive .ThemeFancyMainItemText, .ThemeFancyMainItemHover .ThemeFancyMainItemText a, .ThemeFancyMainItemActive .ThemeFancyMainItemText a {
	background-image: url(ThemeFancy5.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMainItemHover .ThemeFancyMainItemRight, .ThemeFancyMainItemActive .ThemeFancyMainItemRight {
	background-image: url(ThemeFancy5.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-right: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItemHover .ThemeFancyMainFolderLeft, .ThemeFancyMainItemActive .ThemeFancyMainFolderLeft {
	background-image: url(ThemeFancy2.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-left: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItemHover .ThemeFancyMainFolderText, .ThemeFancyMainItemActive .ThemeFancyMainFolderText, .ThemeFancyMainItemHover .ThemeFancyMainFolderText a, .ThemeFancyMainItemActive .ThemeFancyMainFolderText a {
	background-image: url(ThemeFancy2.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMainItemHover .ThemeFancyMainFolderRight, .ThemeFancyMainItemActive .ThemeFancyMainFolderRight {
	background-image: url(ThemeFancy2.png);
	background-repeat: repeat-x;
	background-color: #C9E9F7;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #B4D1D1;
	border-right: 1px solid #B4D1D1;
	border-top: 1px solid #B4D1D1;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItem .ThemeFancyMainItemLeft {
	background-image: url(ThemeFancy4.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItem .ThemeFancyMainItemText, .ThemeFancyMainItem .ThemeFancyMainItemText a {
	background-image: url(ThemeFancy4.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMainItem .ThemeFancyMainItemRight {
	background-image: url(ThemeFancy4.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItem .ThemeFancyMainFolderLeft {
	background-image: url(ThemeFancy1.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancyMainItem .ThemeFancyMainFolderText, .ThemeFancyMainItem .ThemeFancyMainFolderText a {
	background-image: url(ThemeFancy1.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFancyMainItem .ThemeFancyMainFolderRight {
	background-image: url(ThemeFancy1.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFancySubMenu TD, .ThemeFancyMenu TD, .ThemeFancyMenu TR {
	vertical-align: middle;
}
.ThemeFancyMenuSplitRight DIV, .ThemeFancyMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeFancyMenuItem .ThemeFancyMenuSplitLeft {
	background-color: #EFEBDE;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFancyMenuItem .ThemeFancyMenuSplitText {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeFancyMenuItem .ThemeFancyMenuSplitRight {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeFancyMainSplitRight DIV, .ThemeFancyMainSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #071D83;
	overflow: hidden;
}
.ThemeFancyMainItem .ThemeFancyMainSplitLeft {
	background-image: url(ThemeFancy6.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFancyMainItem .ThemeFancyMainSplitText {
	background-image: url(ThemeFancy6.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeFancyMainItem .ThemeFancyMainSplitRight {
	background-image: url(ThemeFancy6.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeFancyMainItem {
	vertical-align: middle;
}
.ThemeFancyHorizontalSplit {
	border-right: 0px solid #8080FF;
	border-left: 0px solid #8080FF;
	width: 10px;
	background-image: url(ThemeFancy3.png);
	background-repeat: repeat-x;
	background-color: #F9F9FA;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeFancyMenuItem img.seq1, .ThemeFancyMainItem img.seq1, .ThemeFancyMenuItemHover seq2, .ThemeFancyMenuItemActive seq2, .ThemeFancyMainItemHover seq2, .ThemeFancyMainItemActive seq2 {
	display: inline;
}
.ThemeFancyMenuItem .seq2, .ThemeFancyMenuItemHover .seq1, .ThemeFancyMenuItemActive .seq1, .ThemeFancyMainItem .seq2, .ThemeFancyMainItemHover .seq1, .ThemeFancyMainItemActive .seq1 {
	display: none;
}
.ThemeFancyMainItem, .ThemeFancyMainItemHover, .ThemeFancyMainItemActive, .ThemeFancyMenuItem, .ThemeFancyMenuItemHover, .ThemeFancyMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeFancySubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
