.ThemeSunSubMenu {
	background: transparent;
	border: 1px solid #400000;
	border-bottom: 0px;
}
.ThemeSunSubMenuTable {
	width: 130px;
	padding: 0px;
	cursor: default;
	background-color: #E7E7E7;
	border: 0px;
}
.ThemeSunSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeSunMenuItemHover .ThemeSunMenuItemLeft, .ThemeSunMenuItemActive .ThemeSunMenuItemLeft {
	background-image: url(ThemeSun14.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItemHover .ThemeSunMenuItemText, .ThemeSunMenuItemActive .ThemeSunMenuItemText, .ThemeSunMenuItemHover .ThemeSunMenuItemText a, .ThemeSunMenuItemActive .ThemeSunMenuItemText a {
	background-image: url(ThemeSun14.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	text-indent: 5px;
	text-decoration: underline;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMenuItemHover .ThemeSunMenuItemRight, .ThemeSunMenuItemActive .ThemeSunMenuItemRight {
	background-image: url(ThemeSun14.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItemHover .ThemeSunMenuFolderLeft, .ThemeSunMenuItemActive .ThemeSunMenuFolderLeft {
	background-image: url(ThemeSun8.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItemHover .ThemeSunMenuFolderText, .ThemeSunMenuItemActive .ThemeSunMenuFolderText, .ThemeSunMenuItemHover .ThemeSunMenuFolderText a, .ThemeSunMenuItemActive .ThemeSunMenuFolderText a {
	background-image: url(ThemeSun10.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMenuItemHover .ThemeSunMenuFolderRight, .ThemeSunMenuItemActive .ThemeSunMenuFolderRight {
	background-image: url(ThemeSun9.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItem .ThemeSunMenuItemLeft {
	background-image: url(ThemeSun11.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItem .ThemeSunMenuItemText, .ThemeSunMenuItem .ThemeSunMenuItemText a {
	background-image: url(ThemeSun13.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	text-indent: 5px;
	text-decoration: none;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMenuItem .ThemeSunMenuItemRight {
	background-image: url(ThemeSun12.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #002840;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItem .ThemeSunMenuFolderLeft {
	background-image: url(ThemeSun5.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenuItem .ThemeSunMenuFolderText, .ThemeSunMenuItem .ThemeSunMenuFolderText a {
	background-image: url(ThemeSun7.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	text-indent: 5px;
	text-decoration: none;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMenuItem .ThemeSunMenuFolderRight {
	background-image: url(ThemeSun6.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMenu {
	width: 52px;
	padding: 0;
	background-color: transparent;
}
.ThemeSunMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeSunMenu tr {
	padding: 0px;
	margin: 0px;
	width: 52px;
}
.ThemeSunMainItemHover .ThemeSunMainItemLeft, .ThemeSunMainItemActive .ThemeSunMainItemLeft {
	background-image: url(ThemeSun4.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItemHover .ThemeSunMainItemText, .ThemeSunMainItemActive .ThemeSunMainItemText, .ThemeSunMainItemHover .ThemeSunMainItemText a, .ThemeSunMainItemActive .ThemeSunMainItemText a {
	background-image: url(ThemeSun4.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	text-indent: 5px;
	text-decoration: none;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMainItemHover .ThemeSunMainItemRight, .ThemeSunMainItemActive .ThemeSunMainItemRight {
	background-image: url(ThemeSun4.png);
	background-repeat: repeat-x;
	background-color: #FFB141;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItemHover .ThemeSunMainFolderLeft, .ThemeSunMainItemActive .ThemeSunMainFolderLeft {
	background-image: url(ThemeSun2.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItemHover .ThemeSunMainFolderText, .ThemeSunMainItemActive .ThemeSunMainFolderText, .ThemeSunMainItemHover .ThemeSunMainFolderText a, .ThemeSunMainItemActive .ThemeSunMainFolderText a {
	background-image: url(ThemeSun2.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMainItemHover .ThemeSunMainFolderRight, .ThemeSunMainItemActive .ThemeSunMainFolderRight {
	background-image: url(ThemeSun2.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItem .ThemeSunMainItemLeft {
	background-image: url(ThemeSun3.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItem .ThemeSunMainItemText, .ThemeSunMainItem .ThemeSunMainItemText a {
	background-image: url(ThemeSun3.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	text-indent: 5px;
	text-decoration: none;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMainItem .ThemeSunMainItemRight {
	background-image: url(ThemeSun3.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItem .ThemeSunMainFolderLeft {
	background-image: url(ThemeSun1.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunMainItem .ThemeSunMainFolderText, .ThemeSunMainItem .ThemeSunMainFolderText a {
	background-image: url(ThemeSun1.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	text-indent: 5px;
	text-decoration: none;
	color: #BE3005;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSunMainItem .ThemeSunMainFolderRight {
	background-image: url(ThemeSun1.png);
	background-repeat: repeat-x;
	background-color: #FF9100;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSunSubMenu TD, .ThemeSunMenu TD, .ThemeSunMenu TR {
	vertical-align: middle;
}
.ThemeSunMenuItem .ThemeSunMenuSplitLeft {
	background-color: #FFC600;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeSunMenuItem .ThemeSunMenuSplitText {
	background-color: #FFC600;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeSunMenuItem .ThemeSunMenuSplitRight {
	background-color: #FFC600;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeSunMainItem .ThemeSunMainSplitLeft {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeSunMainItem .ThemeSunMainSplitText {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeSunMainItem .ThemeSunMainSplitRight {
	background-color: transparent;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeSunMainItem {
	vertical-align: middle;
}
.ThemeSunHorizontalSplit {
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	width: 0px;
	background-color: transparent;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeSunMenuItem img.seq1, .ThemeSunMainItem img.seq1, .ThemeSunMenuItemHover seq2, .ThemeSunMenuItemActive seq2, .ThemeSunMainItemHover seq2, .ThemeSunMainItemActive seq2 {
	display: inline;
}
.ThemeSunMenuItem .seq2, .ThemeSunMenuItemHover .seq1, .ThemeSunMenuItemActive .seq1, .ThemeSunMainItem .seq2, .ThemeSunMainItemHover .seq1, .ThemeSunMainItemActive .seq1 {
	display: none;
}
.ThemeSunMainItem, .ThemeSunMainItemHover, .ThemeSunMainItemActive, .ThemeSunMenuItem, .ThemeSunMenuItemHover, .ThemeSunMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeSunSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
