.ThemeSmartGreenSubMenu {
	background: transparent;
	border: 1px solid #400000;
}
.ThemeSmartGreenSubMenuTable {
	width: 55px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeSmartGreenSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuItemLeft, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuItemLeft {
	background-color: #FFEEC2;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuItemText, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuItemText, .ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuItemText a, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuItemText a {
	background-color: #FFEEC2;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuItemRight, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuItemRight {
	background-color: #FFEEC2;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuFolderLeft, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuFolderLeft {
	background-color: #FFEEC2;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuFolderText, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuFolderText, .ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuFolderText a, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuFolderText a {
	background-color: #FFEEC2;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMenuItemHover .ThemeSmartGreenMenuFolderRight, .ThemeSmartGreenMenuItemActive .ThemeSmartGreenMenuFolderRight {
	background-image: url(ThemeSmartGreen9.png);
	background-repeat: no-repeat;
	background-color: #FFEEC2;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuItemLeft {
	background-image: url(ThemeSmartGreen10.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuItemText, .ThemeSmartGreenMenuItem .ThemeSmartGreenMenuItemText a {
	background-color: #DAF4C7;
	text-indent: 5px;
	text-decoration: none;
	color: #008000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuItemRight {
	background-color: #DAF4C7;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuFolderLeft {
	background-image: url(ThemeSmartGreen7.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuFolderText, .ThemeSmartGreenMenuItem .ThemeSmartGreenMenuFolderText a {
	background-color: #DAF4C7;
	text-indent: 5px;
	text-decoration: none;
	color: #008000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuFolderRight {
	background-image: url(ThemeSmartGreen8.png);
	background-repeat: no-repeat;
	background-color: #DAF4C7;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMenu {
	width: 54px;
	padding: 0;
	background-color: #000000;
}
.ThemeSmartGreenMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeSmartGreenMenu tr {
	padding: 0px;
	margin: 0px;
	width: 54px;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainItemLeft, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainItemLeft {
	background-image: url(ThemeSmartGreen6.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 21px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainItemText, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainItemText, .ThemeSmartGreenMainItemHover .ThemeSmartGreenMainItemText a, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainItemText a {
	background-color: #FFFFFF;
	text-indent: 6px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainItemRight, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainItemRight {
	background-color: #FFFFFF;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainFolderLeft, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainFolderLeft {
	background-image: url(ThemeSmartGreen3.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 21px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainFolderText, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainFolderText, .ThemeSmartGreenMainItemHover .ThemeSmartGreenMainFolderText a, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainFolderText a {
	background-color: #FFFFFF;
	text-indent: 6px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMainItemHover .ThemeSmartGreenMainFolderRight, .ThemeSmartGreenMainItemActive .ThemeSmartGreenMainFolderRight {
	background-image: url(ThemeSmartGreen4.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: 0px 0px;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainItemLeft {
	background-image: url(ThemeSmartGreen5.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 21px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainItemText, .ThemeSmartGreenMainItem .ThemeSmartGreenMainItemText a {
	background-color: #7BB57E;
	text-indent: 6px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainItemRight {
	background-color: #7BB57E;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainFolderLeft {
	background-image: url(ThemeSmartGreen1.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	width: 21px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainFolderText, .ThemeSmartGreenMainItem .ThemeSmartGreenMainFolderText a {
	background-color: #7BB57E;
	text-indent: 6px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainFolderRight {
	background-image: url(ThemeSmartGreen2.png);
	background-repeat: no-repeat;
	background-color: #7BB57E;
	background-position: 0px 0px;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenSubMenu TD, .ThemeSmartGreenMenu TD, .ThemeSmartGreenMenu TR {
	vertical-align: middle;
}
.ThemeSmartGreenMenuSplitRight DIV, .ThemeSmartGreenMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuSplitLeft {
	background-image: url(ThemeSmartGreen11.png);
	background-repeat: repeat-y;
	background-color: #DAF4C7;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuSplitText {
	background-color: #DAF4C7;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 0px;
}
.ThemeSmartGreenMenuItem .ThemeSmartGreenMenuSplitRight {
	background-color: #DAF4C7;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 1px;
	padding-left: 0px;
}
.ThemeSmartGreenMainSplitRight DIV, .ThemeSmartGreenMainSplitText DIV {
	height: 2px;
	padding: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainSplitLeft {
	background-color: #7BB57E;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainSplitText {
	background-color: #7BB57E;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeSmartGreenMainItem .ThemeSmartGreenMainSplitRight {
	background-color: #7BB57E;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeSmartGreenMainItem {
	vertical-align: middle;
}
.ThemeSmartGreenHorizontalSplit {
	border-top: 0px solid #8080FF;
	width: 10px;
	background-color: #7BB57E;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeSmartGreenMenuItem img.seq1, .ThemeSmartGreenMainItem img.seq1, .ThemeSmartGreenMenuItemHover seq2, .ThemeSmartGreenMenuItemActive seq2, .ThemeSmartGreenMainItemHover seq2, .ThemeSmartGreenMainItemActive seq2 {
	display: inline;
}
.ThemeSmartGreenMenuItem .seq2, .ThemeSmartGreenMenuItemHover .seq1, .ThemeSmartGreenMenuItemActive .seq1, .ThemeSmartGreenMainItem .seq2, .ThemeSmartGreenMainItemHover .seq1, .ThemeSmartGreenMainItemActive .seq1 {
	display: none;
}
.ThemeSmartGreenMainItem, .ThemeSmartGreenMainItemHover, .ThemeSmartGreenMainItemActive, .ThemeSmartGreenMenuItem, .ThemeSmartGreenMenuItemHover, .ThemeSmartGreenMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeSmartGreenSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
