.ThemeOfficeSilverSubMenu {
	background: transparent;
	border: 1px solid #7C7C94;
}
.ThemeOfficeSilverSubMenuTable {
	width: 65px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeOfficeSilverSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuItemLeft, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuItemLeft {
	background-color: #FFEEC2;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-left: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuItemText, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuItemText, .ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuItemText a, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuItemText a {
	background-color: #FFEEC2;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuItemRight, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuItemRight {
	background-color: #FFEEC2;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-right: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuFolderLeft, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuFolderLeft {
	background-color: #FFEEC2;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-left: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuFolderText, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuFolderText, .ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuFolderText a, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuFolderText a {
	background-color: #FFEEC2;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMenuItemHover .ThemeOfficeSilverMenuFolderRight, .ThemeOfficeSilverMenuItemActive .ThemeOfficeSilverMenuFolderRight {
	background-image: url(ThemeOfficeSilver5.png);
	background-repeat: no-repeat;
	background-color: #FFEEC2;
	background-position: 0px 0px;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #FFBD69;
	border-right: 1px solid #FFBD69;
	border-top: 1px solid #FFBD69;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuItemLeft {
	background-image: url(ThemeOfficeSilver6.png);
	background-repeat: repeat-y;
	background-color: #9997B5;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuItemText, .ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuItemText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuItemRight {
	background-color: #FFFFFF;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuFolderLeft {
	background-image: url(ThemeOfficeSilver3.png);
	background-repeat: repeat-y;
	background-color: #9997B5;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuFolderText, .ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuFolderText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuFolderRight {
	background-image: url(ThemeOfficeSilver4.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: 0px 0px;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMenu {
	width: 45px;
	padding: 0;
	background-color: #A1C0F5;
}
.ThemeOfficeSilverMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeOfficeSilverMenu tr {
	padding: 0px;
	margin: 0px;
	width: 45px;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainItemLeft, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainItemLeft {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	width: 12px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-left: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainItemText, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainItemText, .ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainItemText a, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainItemText a {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainItemRight, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainItemRight {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-right: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainFolderLeft, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainFolderLeft {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	width: 12px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-left: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainFolderText, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainFolderText, .ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainFolderText a, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainFolderText a {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMainItemHover .ThemeOfficeSilverMainFolderRight, .ThemeOfficeSilverMainItemActive .ThemeOfficeSilverMainFolderRight {
	background-image: url(ThemeOfficeSilver1.png);
	background-repeat: repeat-x;
	background-color: #9997B5;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #7C7C94;
	border-right: 1px solid #7C7C94;
	border-top: 1px solid #7C7C94;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainItemLeft {
	background-color: #C9D3DC;
	width: 12px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainItemText, .ThemeOfficeSilverMainItem .ThemeOfficeSilverMainItemText a {
	background-color: #C9D3DC;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainItemRight {
	background-color: #C9D3DC;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainFolderLeft {
	background-color: #CFD3DC;
	width: 12px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainFolderText, .ThemeOfficeSilverMainItem .ThemeOfficeSilverMainFolderText a {
	background-color: #CFD3DC;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainFolderRight {
	background-color: #CFD3DC;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #7C7C94;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverSubMenu TD, .ThemeOfficeSilverMenu TD, .ThemeOfficeSilverMenu TR {
	vertical-align: middle;
}
.ThemeOfficeSilverMenuSplitText DIV {
	height: 2px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuSplitLeft {
	background-image: url(ThemeOfficeSilver7.png);
	background-repeat: repeat-y;
	background-color: #9997B5;
	height: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuSplitText {
	background-color: #FFFFFF;
	height: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
}
.ThemeOfficeSilverMenuItem .ThemeOfficeSilverMenuSplitRight {
	background-color: #FFFFFF;
	height: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeOfficeSilverMainSplitRight DIV, .ThemeOfficeSilverMainSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #7C7C94;
	overflow: hidden;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainSplitLeft {
	background-color: #C9D3DC;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainSplitText {
	background-color: #C9D3DC;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}
.ThemeOfficeSilverMainItem .ThemeOfficeSilverMainSplitRight {
	background-color: #C9D3DC;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-left: 0px;
}
.ThemeOfficeSilverMainItem {
	vertical-align: middle;
}
.ThemeOfficeSilverHorizontalSplit {
	border-right: 0px solid #7C7C94;
	border-left: 0px solid #7C7C94;
	width: 10px;
	background-color: #C9D3DC;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeOfficeSilverMenuItem img.seq1, .ThemeOfficeSilverMainItem img.seq1, .ThemeOfficeSilverMenuItemHover seq2, .ThemeOfficeSilverMenuItemActive seq2, .ThemeOfficeSilverMainItemHover seq2, .ThemeOfficeSilverMainItemActive seq2 {
	display: inline;
}
.ThemeOfficeSilverMenuItem .seq2, .ThemeOfficeSilverMenuItemHover .seq1, .ThemeOfficeSilverMenuItemActive .seq1, .ThemeOfficeSilverMainItem .seq2, .ThemeOfficeSilverMainItemHover .seq1, .ThemeOfficeSilverMainItemActive .seq1 {
	display: none;
}
.ThemeOfficeSilverMainItem, .ThemeOfficeSilverMainItemHover, .ThemeOfficeSilverMainItemActive, .ThemeOfficeSilverMenuItem, .ThemeOfficeSilverMenuItemHover, .ThemeOfficeSilverMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeOfficeSilverSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
