.ThemeFreshGreenSubMenu {
	background: transparent;
	border: 0px solid #400000;
}
.ThemeFreshGreenSubMenuTable {
	width: 130px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeFreshGreenSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuItemLeft, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuItemLeft {
	background-color: #0000A0;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuItemText, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuItemText, .ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuItemText a, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuItemText a {
	background-color: #0000A0;
	text-indent: 5px;
	text-decoration: underline;
	color: #FFFF80;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuItemRight, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuItemRight {
	background-color: #0000A0;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuFolderLeft, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuFolderLeft {
	background-color: #0000A0;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuFolderText, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuFolderText, .ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuFolderText a, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuFolderText a {
	background-color: #0000A0;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMenuItemHover .ThemeFreshGreenMenuFolderRight, .ThemeFreshGreenMenuItemActive .ThemeFreshGreenMenuFolderRight {
	background-image: url(ThemeFreshGreen10.png);
	background-repeat: no-repeat;
	background-color: #0000A0;
	background-position: 0px 0px;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuItemLeft {
	background-image: url(ThemeFreshGreen11.png);
	background-repeat: repeat-y;
	background-color: #008040;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuItemText, .ThemeFreshGreenMenuItem .ThemeFreshGreenMenuItemText a {
	background-color: #408080;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuItemRight {
	background-image: url(ThemeFreshGreen12.png);
	background-repeat: repeat-y;
	background-color: #D3FBC8;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuFolderLeft {
	background-image: url(ThemeFreshGreen8.png);
	background-repeat: repeat-y;
	background-color: #008040;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuFolderText, .ThemeFreshGreenMenuItem .ThemeFreshGreenMenuFolderText a {
	background-color: #008040;
	text-indent: 5px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuFolderRight {
	background-image: url(ThemeFreshGreen9.png);
	background-repeat: no-repeat;
	background-color: #0000A0;
	background-position: 0px 0px;
	width: 15px;
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMenu {
	width: 75px;
	padding: 0;
	background-color: transparent;
}
.ThemeFreshGreenMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeFreshGreenMenu tr {
	padding: 0px;
	margin: 0px;
	width: 75px;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainItemLeft, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainItemLeft {
	background-image: url(ThemeFreshGreen5.png);
	background-repeat: repeat-x;
	background-color: #004080;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainItemText, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainItemText, .ThemeFreshGreenMainItemHover .ThemeFreshGreenMainItemText a, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainItemText a {
	background-image: url(ThemeFreshGreen7.png);
	background-repeat: repeat-x;
	background-color: #008000;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainItemRight, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainItemRight {
	background-image: url(ThemeFreshGreen6.png);
	background-repeat: repeat-x;
	background-color: #008000;
	width: 4px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainFolderLeft, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainFolderLeft {
	background-image: url(ThemeFreshGreen2.png);
	background-repeat: repeat-x;
	background-color: #004080;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainFolderText, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainFolderText, .ThemeFreshGreenMainItemHover .ThemeFreshGreenMainFolderText a, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainFolderText a {
	background-image: url(ThemeFreshGreen4.png);
	background-repeat: repeat-x;
	background-color: #408080;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMainItemHover .ThemeFreshGreenMainFolderRight, .ThemeFreshGreenMainItemActive .ThemeFreshGreenMainFolderRight {
	background-image: url(ThemeFreshGreen3.png);
	background-repeat: repeat-x;
	background-color: #008000;
	width: 4px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainItemLeft {
	background-color: #004080;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #008040;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainItemText, .ThemeFreshGreenMainItem .ThemeFreshGreenMainItemText a {
	background-color: #D3FBC8;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #008040;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainItemRight {
	background-color: #D3FBC8;
	width: 4px;
	cursor: pointer;
	border-bottom: 1px solid #008040;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainFolderLeft {
	background-image: url(ThemeFreshGreen1.png);
	background-repeat: repeat-x;
	background-color: #008000;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #008000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainFolderText, .ThemeFreshGreenMainItem .ThemeFreshGreenMainFolderText a {
	background-color: #D3FBC8;
	text-indent: 5px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #008000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainFolderRight {
	background-color: #D3FBC8;
	width: 4px;
	cursor: pointer;
	border-bottom: 1px solid #008000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenSubMenu TD, .ThemeFreshGreenMenu TD, .ThemeFreshGreenMenu TR {
	vertical-align: middle;
}
.ThemeFreshGreenMenuSplitLeft DIV, .ThemeFreshGreenMenuSplitRight DIV, .ThemeFreshGreenMenuSplitText DIV {
	height: 4px;
	padding: 0px;
	background-color: transparent;
	overflow: hidden;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuSplitLeft {
	background-image: url(ThemeFreshGreen13.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	height: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuSplitText {
	background-image: url(ThemeFreshGreen13.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	height: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeFreshGreenMenuItem .ThemeFreshGreenMenuSplitRight {
	background-image: url(ThemeFreshGreen13.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	height: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFreshGreenMainSplitLeft DIV, .ThemeFreshGreenMainSplitRight DIV, .ThemeFreshGreenMainSplitText DIV {
	height: 2px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainSplitLeft {
	background-color: #D3FBC8;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainSplitText {
	background-color: #D3FBC8;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeFreshGreenMainItem .ThemeFreshGreenMainSplitRight {
	background-color: #D3FBC8;
	height: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeFreshGreenMainItem {
	vertical-align: middle;
}
.ThemeFreshGreenHorizontalSplit {
	border-right: 0px solid #8080FF;
	border-left: 0px solid #8080FF;
	width: 2px;
	background-color: transparent;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeFreshGreenMenuItem img.seq1, .ThemeFreshGreenMainItem img.seq1, .ThemeFreshGreenMenuItemHover seq2, .ThemeFreshGreenMenuItemActive seq2, .ThemeFreshGreenMainItemHover seq2, .ThemeFreshGreenMainItemActive seq2 {
	display: inline;
}
.ThemeFreshGreenMenuItem .seq2, .ThemeFreshGreenMenuItemHover .seq1, .ThemeFreshGreenMenuItemActive .seq1, .ThemeFreshGreenMainItem .seq2, .ThemeFreshGreenMainItemHover .seq1, .ThemeFreshGreenMainItemActive .seq1 {
	display: none;
}
.ThemeFreshGreenMainItem, .ThemeFreshGreenMainItemHover, .ThemeFreshGreenMainItemActive, .ThemeFreshGreenMenuItem, .ThemeFreshGreenMenuItemHover, .ThemeFreshGreenMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeFreshGreenSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
