.ThemeShadedBeigeSubMenu {
	background: transparent;
	border: 1px solid #400000;
}
.ThemeShadedBeigeSubMenuTable {
	width: 135px;
	padding: 0px;
	cursor: default;
	background-image: url(ThemeShadedBeige18.png);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	border: 0px;
}
.ThemeShadedBeigeSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuItemLeft, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuItemLeft {
	background-image: url(ThemeShadedBeige16.png);
	background-repeat: repeat-y;
	background-color: #FF8040;
	width: 19px;
	cursor: pointer;
	border-bottom: 1px solid #804000;
	border-left: 1px solid #804000;
	border-top: 1px solid #804000;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuItemText, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuItemText, .ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuItemText a, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuItemText a {
	background-color: #FF8040;
	text-indent: 10px;
	text-decoration: underline;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #804000;
	border-top: 1px solid #804000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuItemRight, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuItemRight {
	background-color: #FF8040;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #804000;
	border-right: 1px solid #804000;
	border-top: 1px solid #804000;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuFolderLeft, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuFolderLeft {
	background-color: #800000;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #FFFF80;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuFolderText, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuFolderText, .ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuFolderText a, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuFolderText a {
	background-color: #800000;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFF80;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bolder;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFF80;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMenuItemHover .ThemeShadedBeigeMenuFolderRight, .ThemeShadedBeigeMenuItemActive .ThemeShadedBeigeMenuFolderRight {
	background-image: url(ThemeShadedBeige13.png);
	background-repeat: no-repeat;
	background-color: #800000;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #FFFF80;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuItemLeft {
	background-image: url(ThemeShadedBeige14.png);
	background-repeat: repeat-y;
	background-color: #FFFF80;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px solid #000000;
	border-top: 0px solid #000000;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuItemText, .ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuItemText a {
	background-image: url(ThemeShadedBeige15.png);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #800000;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px solid #000000;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuItemRight {
	background-color: #FFFFFF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px solid #000000;
	border-top: 0px solid #000000;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuFolderLeft {
	background-image: url(ThemeShadedBeige10.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 19px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuFolderText, .ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuFolderText a {
	background-image: url(ThemeShadedBeige12.png);
	background-repeat: repeat-x;
	background-color: #800000;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuFolderRight {
	background-image: url(ThemeShadedBeige11.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMenu {
	width: 135px;
	padding: 0;
	background-image: url(ThemeShadedBeige9.png);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
}
.ThemeShadedBeigeMenuOuter {
	background-color: transparent;
	border: 0px solid #000000;
}
.ThemeShadedBeigeMenu tr {
	padding: 0px;
	margin: 0px;
	width: 135px;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainItemLeft, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainItemLeft {
	background-image: url(ThemeShadedBeige5.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainItemText, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainItemText, .ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainItemText a, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainItemText a {
	background-image: url(ThemeShadedBeige7.png);
	background-repeat: repeat-x;
	background-color: #800000;
	text-indent: 10px;
	text-decoration: overline;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainItemRight, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainItemRight {
	background-image: url(ThemeShadedBeige6.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 20px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainFolderLeft, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainFolderLeft {
	background-image: url(ThemeShadedBeige17.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainFolderText, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainFolderText, .ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainFolderText a, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainFolderText a {
	background-image: url(ThemeShadedBeige20.png);
	background-repeat: repeat-x;
	background-color: #800000;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMainItemHover .ThemeShadedBeigeMainFolderRight, .ThemeShadedBeigeMainItemActive .ThemeShadedBeigeMainFolderRight {
	background-image: url(ThemeShadedBeige19.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 20px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainItemLeft {
	background-image: url(ThemeShadedBeige22.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainItemText, .ThemeShadedBeigeMainItem .ThemeShadedBeigeMainItemText a {
	background-image: url(ThemeShadedBeige4.png);
	background-repeat: repeat-x;
	background-color: #800000;
	text-indent: 10px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainItemRight {
	background-image: url(ThemeShadedBeige3.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 20px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainFolderLeft {
	background-image: url(ThemeShadedBeige1.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 15px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainFolderText, .ThemeShadedBeigeMainItem .ThemeShadedBeigeMainFolderText a {
	background-image: url(ThemeShadedBeige8.png);
	background-repeat: repeat-x;
	background-color: #800000;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainFolderRight {
	background-image: url(ThemeShadedBeige2.png);
	background-repeat: repeat-x;
	background-color: #800000;
	width: 20px;
	cursor: pointer;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeSubMenu TD, .ThemeShadedBeigeMenu TD, .ThemeShadedBeigeMenu TR {
	vertical-align: middle;
}
.ThemeShadedBeigeMenuSplitRight DIV, .ThemeShadedBeigeMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #804000;
	overflow: hidden;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuSplitLeft {
	background-color: transparent;
	height: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuSplitText {
	background-color: transparent;
	height: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeShadedBeigeMenuItem .ThemeShadedBeigeMenuSplitRight {
	background-color: transparent;
	height: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainSplitLeft {
	background-color: #FFFF80;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 5px;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainSplitText {
	background-color: #FFFF80;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.ThemeShadedBeigeMainItem .ThemeShadedBeigeMainSplitRight {
	background-color: #FFFF80;
	height: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeShadedBeigeMainItem {
	vertical-align: middle;
}
.ThemeShadedBeigeHorizontalSplit {
	border-bottom: 0px solid #FFFFFF;
	width: 10px;
	background-image: url(ThemeShadedBeige21.png);
	background-repeat: repeat-x;
	background-color: #FDE2A6;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeShadedBeigeMenuItem img.seq1, .ThemeShadedBeigeMainItem img.seq1, .ThemeShadedBeigeMenuItemHover seq2, .ThemeShadedBeigeMenuItemActive seq2, .ThemeShadedBeigeMainItemHover seq2, .ThemeShadedBeigeMainItemActive seq2 {
	display: inline;
}
.ThemeShadedBeigeMenuItem .seq2, .ThemeShadedBeigeMenuItemHover .seq1, .ThemeShadedBeigeMenuItemActive .seq1, .ThemeShadedBeigeMainItem .seq2, .ThemeShadedBeigeMainItemHover .seq1, .ThemeShadedBeigeMainItemActive .seq1 {
	display: none;
}
.ThemeShadedBeigeMainItem, .ThemeShadedBeigeMainItemHover, .ThemeShadedBeigeMainItemActive, .ThemeShadedBeigeMenuItem, .ThemeShadedBeigeMenuItemHover, .ThemeShadedBeigeMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeShadedBeigeSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
