.ThemeSteelMenu, .ThemeSteelSubMenuTable {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
	white-space: nowrap;
}
.ThemeSteelSubMenu {
	z-index: 0;
	position: absolute;
	visibility: hidden;
	display: block;
	overflow: hidden;
	border: 0;
	background-color: inherit;
}
.ThemeSteelSubMenuShadow {
	z-index: -1;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 100%;
	height: 500em;
	background-color: black;
	opacity: 0.5;
	border: 0;
	margin: 0;
}
.ThemeSteelSubMenuBorder {
	background-color: #F7F3F7;
	padding: 1px;
	margin: 0px 3px 3px 0px;
}
.ThemeSteelSubMenuTable {
	border-collapse: separate;
}
.ThemeSteelMenuItem, .ThemeSteelMenuItemHover, .ThemeSteelMenuItemActive {
	cursor: pointer;
	white-space: nowrap;
}
.ThemeSteelMainItem, .ThemeSteelMenuItem {
	background-color: #5C7C96;
	white-space: nowrap;
}
.ThemeSteelMainItemHover, .ThemeSteelMainItemActive, .ThemeSteelMenuItemHover, .ThemeSteelMenuItemActive {
	background-color: #415869;
	white-space: nowrap;
}
.ThemeSteelMainFolderLeft, .ThemeSteelMainItemLeft {
	padding: 3px 0px 3px 0px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
.ThemeSteelMainFolderText, .ThemeSteelMainItemText {
	padding: 3px 3px 3px 5px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
.ThemeSteelMainItemRight, .ThemeSteelMainFolderRight {
	padding: 3px 0px 3px 0px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
.ThemeSteelMenuFolderLeft, .ThemeSteelMenuItemLeft {
	padding: 3px 0px 3px 0px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
.ThemeSteelMenuFolderText, .ThemeSteelMenuItemText {
	padding: 3px 3px 3px 5px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
.ThemeSteelMenuItemRight, .ThemeSteelMenuFolderRight {
	padding: 3px 0px 3px 0px;
	border: 0;
	white-space: nowrap;
	background-color: inherit;
}
td.ThemeSteelMenuSplit {
	padding: 0px;
	margin: 0px;
	height: 7px;
	border: 0px;
	background-color: inherit;
	overflow: hidden;
}
div.ThemeSteelMenuSplit {
	display: block;
	margin: 3px;
	height: 1px;
	width: 100%;
	overflow: hidden;
	background-color: inherit;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #9C9A9C;
}
.ThemeSteelMenuItem img.seq1 {
	display: inline;
}
.ThemeSteelMenuItemHover seq2, .ThemeSteelMenuItemActive seq2 {
	display: inline;
}
.ThemeSteelMenuItem .seq2, .ThemeSteelMenuItemHover .seq1, .ThemeSteelMenuItemActive .seq1 {
	display: none;
}
